body {
	font-family: sans-serif;
	color: #444444;
}
header {
	text-align: center;
	background: #DE1B8D;
	color: white;
}
a {
	color: #38A88f;
}
h1 {
	color: #ffffff;
	font-size: 48px;
}
img {
	border: 4px solid gold;
}
#about {
	background: #ffca59;
	padding-bottom: 0px;
	padding-top: 0px;
}
.about {
	padding: 0px;
}
.links h3 {
	font-family: 'Raleway', sans-serif;;
	color: #ff572b;
}
p {
	margin: 0px;
}
}
.padded {
	padding-top: 00px;
	padding-bottom: 0px;
	padding-left: 100px;
	padding-right: 100px; }
.contact {
	text-align: center;
	color: #ffffff;
	background: url(images/dark_embroidery.png);
}
.contact h2 {
	color: #fff;
}
.contact img{
	width: 50px;
	margin: 10px;
	border-radius: 50%;
	border: none;
}
header {
	background: url(images/background-small.jpg);
	background-position: fixed;
	background-size: cover;
}
header img {
	border: 3px solid #fff;
	border-radius: 50%;
	padding: 10px;
}
.contact img:hover {
	opacity: .5;
	}
	ul.websites {
	}
	ul.websites li {
		list-style: none;
		display: inline-block;
	}
	.websites a {
		background: #38a88f;
		padding: 10px 20px;
		color: #fff;
		text-decoration: none;
		border-radius: 5px;
		font-size: 18px;
		display: block;
		margin-right: 10px;
	}
	.websites a:hover {
		background: #666;
	}
	h1, h2, h3, p, body {
		font-family: 'Raleway', sans-serif;
	}